<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <link rel="stylesheet" href="styles/style2.css">
    </head>
    <center>
    <h1>TweetData Website</h1>
    <div align="right">
      <button type="button" ng-click="redirect()">Log Out</button>
    </div>
    <div class="row" ng-controller="TwitterController">
      <div class="col-md-6">
        <div class="input-group" id="searchBar">
          <!--the input of the search bar is in keySearch-->
          <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
          <input type="text" class="form-control" placeholder="Search Trends" ng-model="keySearch">
        </div>
        <div class="tableWrapper">
          <div class="btn-group">
            <button type="button" ng-click="mode=1">recent</button>
            <button type="button" ng-click="mode=2">popular</button>
            <button type="button" ng-click="mode=3">mixed</button>
          </div>
          <table class="table table-striped table-hover">
            <tr>
              <th>User</th>
              <th>Tweet</th>
              <th>Date of Post</th>
            </tr>
            <tr ng-repeat="tweet in tweets">
              <td>{{tweet.user.name}}</td>
              <td>{{tweet.text}}</td>
              <td>{{tweet.created_at}}</td>
            </tr>
          </table>
        </div>
      </div>
      <img src="twitter-bird.png" alt="bird" width="300" height="400">
    </center>
</html>
