<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <link rel="stylesheet" href="/home.css">
    </head>
    <center>
    <h1>TweetData Website</h1>
    <div align="right">
      <font color="red">
          <button type="button" ng-click="redirect()">Log Out</button>
      </font>
    </div>
    <p></p>
    <p></p>
    <form class="example" action="action_page.php">
        <input type="text" placeholder="Search a Trend" name="search" ng-model="trend">
        <button type="submit" ng-click="search(trend)">Enter</button>
    </form>
    <div class="btn-group">
      <button type="button" ng-click="mode=1">recent</button>
      <button type="button" ng-click="mode=2">popular</button>
      <button type="button" ng-click="mode=3">mixed</button>
    </div>
    <p></p>
    <div class="row" ng-controller="TwitterController">
      <div class="col-md-6">
        <div class="tableWrapper">
          <p></p>
          <table class="table table-striped table-hover">
            <tr>
              <th>User</th>
              <th>Tweet</th>
              <th>Date of Post</th>
            </tr>
            <tr ng-repeat="tweet in tweets">
              <td>{{tweet.user.name}}</td>
              <td>{{tweet.text}}</td>
              <td>{{tweet.created_at}}</td>
            </tr>
          </table>
        </div>
    </div>
    </center>
  </div>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      #map {
        height: 60%;
        width: 40%;
        margin-right:0px;
        margin-left:800px;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;

        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 30, lng: 0},
          zoom: 1.5
        });
        map.addListener('click', function(e) {
            placeMarkerAndPanTo(e.latLng, map);
        });
      }

    function placeMarkerAndPanTo(latLng, map) {
      var marker = new google.maps.Marker({
        position: latLng,
        map: map
      });
      map.panTo(latLng);
    }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDR5PXfZUEa2RPcJ63qTRg3G79tby08J6k&callback=initMap"
    async defer></script>
  </body>
</html>
