<!DOCTYPE html>
<html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link  rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
      <link rel="stylesheet" href="/home.css">
      <title>Twitter Statistics</title>
    </head>
    <body ng-app="twitterApp" ng-controller="TwitterController">
      <h1>Trending</h1>
      <p></p>
      <p></p>
      <div class="TrendSearch" ng-model="trending">
          <!-- <input type="text" placeholder="Search Tweets" name="search" ng-model="trending"> -->
          <div class="md-form active-cyan active-cyan-2 mb-3">
              <input class="form-control" type="text" placeholder="Search by Location" aria-label="Search" ng-model="location">
          </div>
          <button class="btn btn-primary" type="button" ng-click="updateTrends(location)">Search</button>
          <input type="radio" name="mode" value=1 checked>recent
          <input type="radio" name="mode" value=2>popular
          <input type="radio" name="mode" value=3>mixed
        <select>
          <option value="country">search by country</option>
          <option value="trend">search by trend</option>
        </select>
        </div>
      <p></p>
      <div class="row">
        <div class="col-md-6">
          <div class="tableWrapper">
            <p></p>
            <table class="table table-hover">
              <tr>
                <th>User</th>
                <th>Tweet</th>
                <th>Date of Post</th>
                <th>View Tweet on Twitter</th>
              </tr>
              <tr ng-repeat="trend in trending">
                <td>{{trend.name}}</td>
                <td><a href={{trend.url}}>{{trend.url}}</a></td>
                <td>{{tweet.tweet_volume}}</td>
                <!-- <td onclick="window.location='{{tweet.entities.urls.url}}'">Click</td> -->
              </tr>
            </table>
          </div>
      </div>
    </div>
    </body>
    <head>
      <meta name="viewport" content="initial-scale=1.0">
      <meta charset="utf-8">
      <style>
        #map {
          height: 60%;
          width: 40%;
          margin-right:0px;
          margin-left:800px;
        }
        html, body {
          height: 100%;
          padding: 0;
        }
      </style>
    </head>
  <body>
    <div id="map"></div>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 30, lng: 0},
          zoom: 1.5
        });
        map.addListener('click', function(e) {
            placeMarkerAndPanTo(e.latLng, map);
        });
      }

    function placeMarkerAndPanTo(latLng, map) {
      var marker = new google.maps.Marker({
        position: latLng,
        map: map
      });
      map.panTo(latLng);
    }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDR5PXfZUEa2RPcJ63qTRg3G79tby08J6k&callback=initMap" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="/app.js"></script>
    <script src="/trendingFactory.js"></script>
    <script src="/twitterController.js"></script>
  </body>
</html>
