<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link  rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="/stats.css">
</head>

<body ng-app="twitterApp" ng-controller="TwitterController">
  <nav class="navbar navbar-expand-lg">
    <img class="navbar-brand" src="/trendi.png" style="width:180px;height:70px;"></img>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
          <a class="nav-link" href="/home"> Home</a>
      </li>
    </ul>
    <!-- <h1>Whats Trending?</h1>
    <h1>Statistics</h1> -->
    </nav>
  <div class="TrendSearch" ng-model="trending">
  <h1 id="Title">Trending</h1>
      <div class="md-form active-cyan active-cyan-2 mb-3">
          <input class="form-control"  id="search" type="text" placeholder="Search by Location" aria-label="Search" ng-model="location">
        </div>
        <button class="btn btn-primary" type="button" ng-click="updateTrends(location,placeType)">Search</button>
      <!-- <input type="radio" name="mode" value=1 checked>recent
      <input type="radio" name="mode" value=2>popular
      <input type="radio" name="mode" value=3>mixed -->
    <select class="form-control-sm" id="filterPlace" ng-model="placeType">
      <option value="Country">Search by Country</option>
      <option value="Town">Search by City</option>
      <!-- <option ng-model="placeType" value="trend">search by trend</option> -->
    </select>
    </div>
  <p></p>
    <ul class="bar-graph">
        <div ng-if="trend.tweet_volume" ng-repeat="trend in trending | orderBy: 'trend.tweet_volume'"  >
          <li class="bar alert" style="height: 'trend.tweet_volume'" title="x">
            <div class="percent">{{trend.tweet_volume}}<span> tweets</span></div>
            <div class="description">{{trend.name}}</div>
          </li>
        </div>
    </ul>
</div>
</body>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDR5PXfZUEa2RPcJ63qTRg3G79tby08J6k&callback=initMap" async defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="/app.js"></script>
<script src="/trendingFactory.js"></script>
<script src="/twitterController.js"></script>

</html>
