*{
  font-family: 'Montserrat', sans-serif;
}
.navbar{
  /* padding:20px; */
  background-color: rgb(145, 205, 255);
}


#search {
width: 50%;
margin-left: 25%;
}

.searchDrop{
  width: 50%;
}

.tableWrapper {
  max-height: 400px;
  overflow: auto;
  margin-left: 25%;
}
.md-form{
  /* width: 50%; */
}
#filterPlace{
    width: 20%;
}
#Title{
  margin-bottom: 3%;
  margin-top: 3%;
}

.tableWrapper{
  /* color:#0000CD; */
  /* margin: 0% auto; */
  height: 100%;
  width: 100%;
  overflow: hidden;
  box-sizing: content-box;
  padding-right: 17px;
  overflow-y: scroll;
}
.btn{
  margin-right:25px;
}
table{
  margin: 0% auto;
}

.jumbotron{
}

.table-hover tbody tr:hover td {
}
