#searchBar {
  margin: 15px 10px;
}

.tableWrapper {
  max-height: 400px;
  overflow: auto;
}

.row{
    color:#E0FFFF;
}

.tableWrapper{
  background-color:#E0FFFF;
  color:#0000CD;
}

body{
  background-color: #00FFFF;
  font-family:Comic Sans MS, Comic Sans, cursive;
}

.jumbotron{
  background-color: #FF4500;
  color:#00FF00;
}

.table-hover tbody tr:hover td {
    background: #00FF00;
}
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}
div.absolute {
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
}
